<section class="weather__card" (click)="openDetails()" [ngClass]="{'weather__card-dark': darkMode}">
    <span class="city-name__text">{{ cityName }}</span>
    <span class="country-name__text">{{ countryName }}</span>
    <div class="weather-icon__container">
        <img [src]="conditionIcon" alt="">
    </div>
    <div class="temperature-text__container">
        <span class="temperature__text">{{ currentTemp }}</span>
        <span class="temperature-metric__text">°</span>
        <span class="weather-condition__text">{{ condition }}</span>
    </div>
    <section class="min-max__container">
        <div class="min__container">
            <span class="min-temperature__text">{{ windDir }}</span>
            <span class="min__text">Wind direction</span>
        </div>
        <div class="max__container">
            <span class="max-temperature__text">{{ windSpeed }}</span>
            <span class="max__text">Wind speed</span>
        </div>
    </section>
</section>